<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> {% block title_content %} {% endblock %} </title>
  </head>
  <body>
    <nav>
      <div class="">
        <ul>
          <li> <a href="{% url 'list' %}"> LIST </a> </li>
          <li> <a href="{% url 'add' %}"> ADD </a> </li>
        </ul>
      </div>
    </nav>
    <img src="{% static "images/instawork.png" %}" alt="Instawork logo">
    {% block body_content %} {% endblock %}
  </body>
</html>
